.job-container {
  display: flex;
  align-items: center;
  margin-top: 2px;
  gap: 9px;
}

.pronouns-card {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 300; /* font-light */
}

/* Root Tooltip */
:root {
  --font-weight-semibold: 600;
  --line-height-heading: 1.2;
  --color-text-tooltip: #0e0e10;
  --color-background-tooltip: #ffffff;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-heading);
  color: var(--color-text-tooltip);
  background-color: var(--color-background-tooltip);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  white-space: nowrap;
  max-width: 30rem;
  opacity: 0;
  transition: opacity 200ms ease, transform 200ms ease;
}

.tooltip-arrow {
  position: absolute;
  top: 95%;
  left: 15%;
  transform: translateX(-30%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-background-tooltip);
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
  transform: translateX(-30%) scale(1);
  transition-delay: 200ms;
}

.tooltip-container .tooltip-text {
  transform: translateX(calc(-15.5% - var(--offset-x, 0px))) scale(0);
}

.tooltip-container:hover .tooltip-text {
  transform: translateX(calc(-15.5% - var(--offset-x, 0px))) scale(1);
}
